.quote {
	background-color: $txt-dark;
	color: $txt-light;
	text-align: center;
	padding: 70px 0 52px;
	&__icon {
		font-size: 18px;
	}
	&__txt{
		font-size: 20px;
		line-height: 38px;
		max-width: 840px;
		margin: 0 auto;
		padding: 16px 0 25px;
	}
	&__author {
		font-size: 20px;
		line-height: 38px;
	}
}